[submodule "third_party/Eigen"]
	path = third_party/Eigen
	url = https://gitlab.com/libeigen/eigen.git

[submodule "third_party/jsoncpp"]
	path = third_party/jsoncpp
	url = https://github.com/open-source-parsers/jsoncpp

[submodule "third_party/dlfcn-win32"]
	path = third_party/dlfcn-win32
	url = https://github.com/dlfcn-win32/dlfcn-win32.git
