# http://www.gnu.org/software/automake

Makefile.in

# http://www.gnu.org/software/autoconf
/autom4te.cache
/autoscan.log
/autoscan-*.log
/aclocal.m4
build-aux/ar-lib
build-aux/compile
build-aux/config.guess
build-aux/config.sub
build-aux/depcomp
gldcore/config.h
gldcore/build.h
gldcore/version.h
/configure.scan
build-aux/install-sh
build-aux/ltmain.sh
build-aux/missing
gldcore/stamp-h1
gldcore/gridlabd.sh
.pydevproject
.idea
utilities/json_schema/glmFiles/
utilities/json_schema/output/

# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
*.bin

# Object files
*.ko
*.elf

# Shared objects (inc. Windows DLLs)
*.so.*

# Executables
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*.su

.autotools
.cproject
.project
.settings/
Makefile
*/.deps/
*/*/*/.deps/
*/*/.deps/
config.log
config.status
configure
gldcore/gridlabd
gridlabd.spec
libtool
m4/libtool.m4
m4/ltoptions.m4
m4/ltsugar.m4
m4/ltversion.m4
m4/lt~obsolete.m4
m4/lt-obsolete.m4
*/.dirstamp
*/*/*/.dirstamp
*/*/.dirstamp
gridlabd.bin
install/
install64/
*/autotest/*/
*/*/*/autotest/*/
validate.txt
.libs/
third_party/xerces*/*
*.xcbkptlist
CMakeFiles/*
*/CMakeFiles/*
*cmake_install.cmake
*CMakeCache.txt
*.cbp
cmake-build*/
build/
GLD GridLAB-D build instructions.txt

# scratch is a folder for local work only
scratch/*
reference/*
third_party/*
.venv
testenv

# Python bindings build artifacts
python_bindings/prebuilt/
python_bindings/gldcore/
python_bindings/third_party/
python_bindings/dist/
python_bindings/build/
python_bindings/*.egg-info/
python_bindings/.eggs/
python_bindings/wheels/
gridlabd.xml
*.pyc
*.0
*.1
*.csv
*.sh

# Python cache files
__pycache__/
*.py[cod]
*$py.class
*.pyc
*.pyo

# GridLab-D output files
*.0
*.0.json

# Virtual env
python_bindings/env
docs/
test/
env

# IDE-related
.vs/
.vscode/
CMakePresets.json

workdir/
__pycache__/
python_bindings/src/gridlabd/__pycache__/__init__.cpython-312.pyc
