--index-url https://test.pypi.org/simple/
--extra-index-url https://pypi.org/simple/

gridlabd==1.0.11
markdown-include
mkdocs
mkdocs-autorefs
mkdocs-get-deps
mkdocs-mermaid2-plugin
mkdocstrings
mkdocstrings-python
mkdocstrings-python-legacy
mkdoxy
